<div class="menu">
  <a href="/"></a>
  </div>
<div class="nav">
    <ul>
        <li class="active">
            <div class="fix">
                  <span class="ico"><img src="assets/image/ico1.png"></span>
                  <span class="value">مدیریت</span>
              </div>
           </li>
           <li class="active">
            <div class="fix">
                  <a routerLink="/dimension-list" routerLinkActive="active-menu">
                      <span class="ico"><img src="assets/image/ico1.png"></span>
                      <span class="value">ابعاد اندازه گیری</span>
                  </a>
              </div>
           </li>
           <li class="active">
            <div class="fix">
                  <a routerLink="/course-list" routerLinkActive="active-menu">
                      <span class="ico"><img src="assets/image/ico1.png"></span>
                      <span class="value">واحدهای سنجش</span>
                  </a>
              </div>
           </li>
    </ul>
  </div>