<form #categoryForm="ngForm">
    <div class="form-group" >
        <label for="title">Name : </label>
        <input type="text" [(ngModel)]="model.name"
                required minlength="3"
                name="name" id="name" #title="ngModel">
        <span style="color: red" *ngIf="title.errors?.required">الزامی است</span>
        <span style="color: red" *ngIf="title.errors?.minlength">عبارت کوتاه است</span>

        <br/>

        <label for="title">Symbol : </label>
        <input type="text" [(ngModel)]="model.symbol"
                required   name="symbol" id="symbol" #title="ngModel">
        <span style="color: red" *ngIf="title.errors?.required">الزامی است</span>
        <span style="color: red" *ngIf="title.errors?.minlength">عبارت کوتاه است</span>
    </div>   
</form>

<div>
    <button kendoButton (click)="save()" [disabled]="categoryForm.invalid" id="saveButton">Save</button>
    <button kendoButton (click)="cancel()">Cancel</button>
</div>